

.header-menu-espacamento {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-img {
    padding: 2rem;
    margin-right: 2rem;
}

.header-menu {
    margin-top: -0.7rem;
    font-family: 'Epilogue', sans-serif;
}

.menu-login-register {
    margin-top: -4.5rem;
    margin-right: 2rem;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: flex-end;
 
}

.register {
    border: 1px solid hsl(0, 0%, 41%);
    border-radius: 10px;
}
