<div class="main-container">

    <div class="main-content">

        <div class="main-titulo">
            <h1>Make<br> remote work</h1>
        </div>

        <div class="main-paragrafo">
            <p>Get your team in sync, no matter your location.</p>
            <p>Streamline processes, creat team rituals, and watch<br> productivity soar.</p>
        </div>

        <div class="main-btn">
            <button class="mainBtn-color">
                <p>Learn more</p>
            </button>
        </div>
    </div>
    <div class="main-img-content">
        <img class="imagem-patrocinio" src="./../../assets/client-databiz.svg" alt="">
        <img class="imagem-patrocinio2" src="./../../assets/client-audiophile.svg" alt="">
        <img class="imagem-patrocinio" src="./../../assets/client-meet.svg" alt="">
        <img class="imagem-patrocinio" src="./../../assets/client-maker.svg" alt="">
    </div>
</div>

<div class="main-container-img">
    <img class="img-tamanho" src="./../../assets/image-hero-desktop.png" alt="">
</div>